body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cart-item{
  border: 1px black solid;
  margin: 5px;
  display: inline-flex;
}

.left-block{
  display: inline-block;
}

.right-block{
  padding: 10px 10px 10px 10px;
  display: inline-block;
}

.cart{
  display: flex;
  flex-direction: column;
}
.cart-item-action{
  margin-top: 10px;  
  margin-left: 10px;
}